.exp {
    position: absolute;
    top: 0px;
    left: 0em;
    height: 42em;
    width: 83em;
    border: 5px;
    border-style: groove;
    background-color: white;
}
.position-absolute {
    
    position: absolute !important;
    backdrop-filter: blur(6px);

  }
  .swal2-popup {
    font-size: 1rem !important;
    font-family: Georgia, serif;
  }
 
  #exph{
	margin-top: -2px;
	margin-left: -3px;
   padding-left: 20px;
   width: 82em;
   padding-top: 1px;
   padding-bottom: 1px;
   background-image: linear-gradient(#091069,#2B4D9D );
	box-shadow: 0 8px 6px -6px black;
  }
  #expm{
	font-size: 25px;
	color: white;
	text-align: center;
  }
	#dragDropWindow5{
		left: 10.4em;
		top: 17.5em;
		position: absolute;
	}
	#dragDropWindow2{
		left: 15.4em;
		top: 23.07em;
		position: absolute;
	}
	/*dot 16*/
	#dragDropWindow3{
		right: 8.8em;
		top: 18em;
		position: absolute;
	}
	#dragDropWindow8{
		right: 18.2em;
		top: 21.35em;
		position: absolute;
	}
	#dragDropWindow1{
		left: 9.6em;
		top: 17.5em;
		position: absolute;
	}
	#dragDropWindow6{
		left: 33.4em;
		top: 28.5em;
		position: absolute;
	}
	#dragDropWindow7{
		right: 8.2em;
		top: 18em;
		position: absolute;
	}
	#dragDropWindow4{
		right: 18em;
		top: 24em;
		position: absolute;
	}
	/* dot 5*/
	#dragDropWindow9{
		left: 18.7em;
		top: 28.8em;
		position: absolute;
	}
	/* dot 7*/
	#dragDropWindow10{
		left: 21.3em;
		top: 37em;
		position: absolute;
	}
	/* dot 6*/
	#dragDropWindow11{
		left: 20.1em;
		top: 28.9em;
		position: absolute;
	}
	/* dot 8*/
	#dragDropWindow12{
		left: 21.3em;
		top: 36.2em;
		position: absolute;
	}
	#dragDropWindow13{
		right: 36.7em;
		top: 15em;
		position: absolute;
	}
	/* dot 9*/
	#dragDropWindow14{
		left:47em;
		top: 36em;
		position: absolute;
	}
	#dragDropWindow15{
		right: 36.7em;
		top: 20em;
		position: absolute;
	}
	/* dot 10*/
	#dragDropWindow16{
		position:absolute;
		left:49em;
		top: 36em;
	}
	.top{
		position:absolute;
		bottom:30px;
		right:30px;
	}
	.instruct{
		position:relative;
		margin-left: 77%;
		margin-top:2%;	
	}
	#myBtn{
		color:white;
			font-weight: bold;
			font-size: 18px;
	}
	input {
	
		margin-right:10px;
		width: 100px;
		font-size: 18px;
		border: none;
		font-weight: bold;
		border-radius: 20px;
		cursor: pointer;
		color: white;
	}
	input:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	  }
	.b1
	{
		border: 2px #2B4D9D solid;
		background-image: linear-gradient(#95ABD0,#2B4D9D,#091069 );
		font-size: 18px;
	}
	.b1:hover{
		color: #2B4D9D;
		background: white;
    font-size: 18px;
	cursor:pointer;
	}
	.b2
	{
		border: 2px #2B4D9D solid;
		background-image: linear-gradient(#95ABD0,#2B4D9D,#091069 );
		font-size: 18px;
	}
	.b2:hover{
		color: #2B4D9D;
		background: white;
    font-size: 18px;
		cursor:pointer;
	}
	.b3
	{
		border: 2px #2B4D9D solid;
		background-image: linear-gradient(#95ABD0,#2B4D9D,#091069 );
		font-size: 18px;
	}
	.b3:hover{
		color: #2B4D9D;
		background: white;
        font-size: 18px;
		cursor:pointer;
	}
	.button{
		display:inline-flex;
		margin-right:10px;
	}
	.modal {
		display: none;
		position: inherit;
		z-index: 11;
        padding-top: 20px;
		left: -1175px;
		top: -45px;
		width:83em;
		height:43em;
		background-color: rgba(255, 255, 255, 0);
        backdrop-filter:  blur(9.2px);
       -webkit-backdrop-filter: blur(9.2px);
        border: 1px solid rgba(255, 255, 255, 0.99);
	}
	.modal-content {
		background-color: #fefefe;
		margin: auto;
		padding: 30px;
		border: 1px solid #888;
		width: 65%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}
	@-webkit-keyframes animatetop {
		from {top:-300px; opacity:0} 
		to {top:0; opacity:1}
	}
	@keyframes animatetop {
		from {top:-300px; opacity:0}
		to {top:0; opacity:1}
	}
	.close {
		color: white;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	.close:hover,
	.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
	.modal-header {
		padding: 2px 16px;
		background-color: #2B4D9D;
		color: white;
	}
	.modal-body {padding: 2px 16px;}
	.modal-footer {
		padding: 2px 16px;
		background-color: #2B4D9D;
		color: white;
	}
	path, .jtk-endpoint { cursor:pointer; }
	.cmdLink { font-size:0.80em;}
	.drag-drop-demo a, .drag-drop-demo a:visited {
		color:#057D9F;
	}
	.demo {
    /* for IE10+ touch devices */
		touch-action:none;
	}
	.main-footer
	{
		position:absolute;
		width: 83.5em;
		height:25px;
		background-image: linear-gradient(#2B4D9D,#091069 );
	  top:42.5em;left: 0.3;
	  text-align: center;display:grid;
	}